*{
    margin: 0;
    padding: 0;
}

.zukanLink{
    background-color: rgb(2, 2, 2);
   
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        p{
            padding-left: 20px;
            color:white;
            width: 40%;
            font-family: 'Roboto', sans-serif;
        }

        marquee{
            padding-right: 20px;
            width: 60%;
            color:white;
            font-family: 'Hind Siliguri', sans-serif;
        }
    
          
      
    }
    :hover{
        color: yellow;
        text-decoration: none;
        }
}