@charset "UTF-8";
/*
sm 576 px
md 768 px
lg 992 px
xl 1200 px
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&family=Montserrat:wght@100&family=Roboto:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Acme&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
}

section {
  height: 100vh;
}

.zukan-header {
  background-color: #020202;
}

.zukan-header a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.zukan-header a p {
  padding: 10px 10px 10px 50px;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 150px;
}

.zukan-header a marquee {
  padding-right: 20px;
  color: white;
  font-family: 'Hind Siliguri', sans-serif;
}

.zukan-header a :hover {
  color: yellow;
  text-decoration: none;
}

.sec-one {
  position: relative;
}

.sec-one .nav-bar {
  width: 100%;
  background-color: #383737;
  z-index: 10;
}

.sec-one .nav-bar .hide {
  display: none;
}

.sec-one .nav-bar #menu-ul {
  list-style: none;
}

.sec-one .nav-bar #menu-ul li a {
  color: inherit;
  text-decoration: none;
}

.sec-one .nav-bar #menu-ul li:hover {
  color: white;
  background-color: #969696;
}

.sec-one .sectOne-title {
  z-index: 10;
}

.sec-one .sectOne-title .title-left {
  position: fixed;
  left: 0;
}

.sec-one .sectOne-title .title-left h1 {
  padding: 30px;
  font-size: 50px;
  font-family: 'Acme', sans-serif;
  color: white;
}

.sec-one .sectOne-title .title-right {
  position: fixed;
  right: 0;
}

.sec-one .sectOne-title .title-right ul {
  list-style: none;
  padding: 30px;
}

.sec-one .sectOne-title .title-right ul a {
  color: white;
}

.sec-one .sectOne-title .title-right ul a :hover {
  color: #6d6b6b;
}

.sec-one .sectOne-title .title-right ul li {
  display: inline-block;
}

.sec-one .sectOne-title .title-right ul li select {
  width: 100px;
}

.sec-one .sectOne-title .title-right ul li i {
  font-size: 25px;
  padding: 0 10px;
}

.sec-one .sectOne-title .title-right .menu-list a {
  color: white;
  font-size: 30px;
}

.sec-one .sectOne-title .title-right .menu-list a:hover {
  cursor: pointer;
}

.sec-one .zukan-logo {
  display: none;
}

.sec-one .grass-before {
  display: none;
}

.sec-one .grass-front {
  display: none;
}

.sec-one .homePic {
  width: 100%;
}

.sec-one picture {
  background-color: #09112c;
  display: block;
}

.content-wrapper .sec-two {
  background-image: url("../images/statement_bg.png");
  top: 0;
}

.content-wrapper .sec-two .content-inner {
  padding: 150px 200px;
}

.content-wrapper .sec-two .content-inner h2 {
  font-family: BrushScriptMT, Brush Script MT;
  color: white;
  font-size: 150px;
  font-weight: initial;
  text-align: center;
}

.content-wrapper .sec-two .content-inner .sec-word ul {
  list-style: none;
  margin-top: 100px;
  margin-left: 350px;
}

.content-wrapper .sec-two .content-inner .sec-word ul li {
  padding: 20px 0;
}

.content-wrapper .sec-two .content-inner .sec-word ul li p {
  color: #7f9ebd;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 2;
  font-weight: initial;
  word-spacing: 5pt;
}

.content-wrapper .sec-two .content-inner .sec-word ul li p strong {
  font-size: 50px;
}

@media (max-width: 768px) {
  .zukan-header a p {
    padding-left: 20px;
    width: 30%;
  }
  .zukan-header marquee {
    width: 70%;
  }
  .sec-one .zukan-logo {
    z-index: 15;
    display: block;
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  .sec-one .grass-before {
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
  }
  .sec-one .grass-front {
    z-index: 5;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
  .sec-one .sectOne-title .title-left h1 {
    font-size: 25px;
  }
  .sec-one .sectOne-title .title-right {
    display: none;
  }
}

/*如果螢幕寬度為 768px 以上 且 992px 以下，就套用 css 設定*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .zukan-header a p {
    width: 20%;
  }
  .sec-one .zukan-logo {
    display: none;
  }
  .sec-one .grass-before {
    display: none;
  }
  .sec-one .grass-front {
    display: none;
  }
  .sec-one .sectOne-title .title-left h1 {
    padding: 15px;
    font-size: 25px;
  }
  .sec-one .sectOne-title .title-right {
    display: none;
  }
  .sec-one .menu-list {
    padding: 15px;
    top: 0;
  }
}
/*# sourceMappingURL=index.css.map */